{% extends "main.twig" %}
{# THIS IS A TWIG COMMENT
	the line above MUST be the first line in a template, It essentially says to use this template "base.twig" as of the main structure of my page and this current page "index.twig" is going to fill the blocks established in the main structure
#}
{% block page_title %}Summary - {% endblock %}
{% block main_content %}
    {# The content in here will replace the content block found inside of "base.twig" #}
    <div class="py-5 text-center" id="bg_question">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="">Summary</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="" id="printArea">
                        <table class="table table-bordered ">
                            <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Time</th>
                                <th>Question</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr>
                                    <th>{{ question.stuName }}</th>
                                    <td>{{ question.subName }}</td>
                                    <td>{{ question.tmConsume }}</td>
                                    <td>{{ question.quCount }}</td>
                                    <td>{{ question.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-left">
                <form id="html_form" method="post">
                    <input hidden name="html" id="html_value"/>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-primary" onclick="exportPdf()">Print&nbsp;<i class="fa fa-fw fa-print"></i></button>
                    </div>
                </form>
                <script>
                    function exportPdf() {
                        const html = document.getElementById("printArea").innerHTML;
                        document.getElementById("html_value").value = html;
                        document.forms["html_form"].submit();
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}